.card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name-header{
    padding: 0;
    margin: 0;
    display: inline-block;
    flex: 1;
}

.family-name{
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    object-fit: cover;
    max-height: 300px;
    min-height: 300px;
}

.card {
    height: fit-content;
}
